.actions-flottantes-desktop {
  position: relative;
  top: 55px; /* chevauche légèrement le header */
  z-index: 20;
  background: white;
  border-radius: 1.25rem;
  padding: 0.3rem 2rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  justify-content: center;
  gap: 1rem;
  max-width: fit-content;
  margin: 0 auto;
   margin-top: -30px;
}

.btn-action.active {
  color: #c2185b;
  background-color: #ffe1ef;
  font-weight: 700;
}

.btn-action {
  font-weight: 600;
  color: #e91e63;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  border-radius: 1.25rem;
  transition: all 0.3s ease;
}

.btn-action:hover {
  background-color: #ffe1ef;
  color: #c2185b;
}

.hero{
  margin-bottom: 20px;
}

.btn-link.active {
  color: #c2185b !important;
  font-weight: bold;
  border-radius: 1.25rem;
  padding: 0.4rem 0.6rem;
}
.hero-inner {
    /* Élargir le contenu interne */
    max-width: 1500px; /* au lieu de 1200px par défaut */
    margin: 0 auto;
    width: 100%;
}
